@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box; }

.text-muted {
  font-weight: 400;
  color: #999999;
  font-size: 18px; }

.text-info {
  color: #FFFFFF;
  font-weight: 400; }

.text-primary {
  color: #ffffff;
  font-size: 24px;
  font-style: italic; }

.section-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600; }

.section-subtitle {
  color: #008ed6;
  font-max-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.btn-default, .btn-success {
  background: none;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  margin: 9px auto;
  border: solid 1px #454549;
  font-weight: 700;
  border-radius: 2px;
  line-height: 30px;
  width: 100%;
  display: block; }

.btn-success {
  color: #008ed6;
  border: solid 1px #e0e0e0;
  display: block;
  max-width: 164px;
  margin: 30px auto;
  background-image: none; }

.btn-success:focus, .btn-success:hover {
  background-color: #008ed6;
  color: #FFFFFF;
  border-color: #008ed6; }

.btn-primary {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin: 9px auto;
  font-weight: 700;
  background-color: #008ed6;
  border-radius: 2px;
  line-height: 30px;
  width: 100%;
  display: block; }

.bg-primary {
  background-color: #15141a; }

.banner {
  background-image: url("../images/banener-top_01.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px; }
  .banner header {
    background: none; }
    .banner header .navbar, .banner header .navbar-default {
      border: none;
      box-shadow: none;
      background: none;
      padding: 20px; }
      .banner header .navbar .nav li:before, .banner header .navbar .navbar-nav li:before, .banner header .navbar .navbar-right li:before, .banner header .navbar-default .nav li:before, .banner header .navbar-default .navbar-nav li:before, .banner header .navbar-default .navbar-right li:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 52%;
        background-color: #008ed6;
        height: 2px;
        width: 1%;
        visibility: hidden;
        transition: 0.5s; }
      .banner header .navbar .nav li:after, .banner header .navbar .navbar-nav li:after, .banner header .navbar .navbar-right li:after, .banner header .navbar-default .nav li:after, .banner header .navbar-default .navbar-nav li:after, .banner header .navbar-default .navbar-right li:after {
        content: '';
        display: block;
        position: absolute;
        left: 52%;
        bottom: 0;
        background-color: #008ed6;
        height: 2px;
        width: 1%;
        visibility: hidden;
        transition: 0.5s; }
      .banner header .navbar .nav li:hover:after, .banner header .navbar .nav li:hover:before, .banner header .navbar .navbar-nav li:hover:after, .banner header .navbar .navbar-nav li:hover:before, .banner header .navbar .navbar-right li:hover:after, .banner header .navbar .navbar-right li:hover:before, .banner header .navbar-default .nav li:hover:after, .banner header .navbar-default .nav li:hover:before, .banner header .navbar-default .navbar-nav li:hover:after, .banner header .navbar-default .navbar-nav li:hover:before, .banner header .navbar-default .navbar-right li:hover:after, .banner header .navbar-default .navbar-right li:hover:before {
        visibility: visible;
        width: 20px; }
      .banner header .navbar .nav li a, .banner header .navbar .navbar-nav li a, .banner header .navbar .navbar-right li a, .banner header .navbar-default .nav li a, .banner header .navbar-default .navbar-nav li a, .banner header .navbar-default .navbar-right li a {
        color: #fffefe;
        font-weight: 600;
        font-size: 16px; }
  .banner .container .section-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600; }
  .banner .container .section-subtitle {
    color: #008ed6;
    font-max-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .banner .container p {
    margin: 35px 0 60px;
    line-height: 30px; }

.section-features {
  border-bottom: solid 1px #ededed;
  padding: 70px 0; }
  .section-features .section-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-features .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-features .section-title {
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 100px; }
  .section-features .container h2 {
    color: #1a1a1a;
    margin-bottom: 114px; }
  .section-features .container p {
    line-height: 35px; }
  .section-features .container .wrapper {
    border-radius: 50%;
    border: solid 1px #e0e0e0;
    width: 90px;
    height: 90px;
    margin-bottom: 35px; }
    .section-features .container .wrapper .monitor:before {
      content: "\f26c";
      display: block;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 27px;
      position: absolute;
      top: 30%;
      left: 30%;
      color: #008ed6; }
    .section-features .container .wrapper .cog:before {
      content: "\f013";
      display: block;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 27px;
      position: absolute;
      top: 29%;
      left: 34%;
      color: #008ed6; }
    .section-features .container .wrapper .like:before {
      content: "\f164";
      display: block;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 27px;
      position: absolute;
      top: 29%;
      left: 34%;
      color: #008ed6; }
    .section-features .container .wrapper .phone:before {
      content: "\f3cd";
      display: block;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 27px;
      position: absolute;
      top: 30%;
      left: 40%;
      color: #008ed6; }
    .section-features .container .wrapper .monitor, .section-features .container .wrapper .cog, .section-features .container .wrapper .like, .section-features .container .wrapper .phone {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }

.section-details-top {
  padding: 68px 0;
  position: relative; }
  .section-details-top .section-subtitle {
    margin-top: 40px; }
  .section-details-top .section-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-details-top .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-details-top .section-title {
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px; }
  .section-details-top p {
    margin-bottom: 40px; }
  .section-details-top img {
    display: block;
    width: 100%; }
  .section-details-top ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 400; }
    .section-details-top ul li .cup:before {
      content: "\f091";
      display: block;
      position: absolute;
      color: #44ace1;
      font-weight: 900;
      font-family: "Font Awesome 5 Free"; }
    .section-details-top ul li .mouse:before {
      content: "\f8cc";
      display: block;
      position: absolute;
      color: #44ace1;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      left: 3px; }
    .section-details-top ul li .energy:before {
      content: "\f0e7";
      display: block;
      position: absolute;
      color: #44ace1;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      left: 3px; }
    .section-details-top ul li .watch:before {
      content: "\f2f2";
      display: block;
      position: absolute;
      color: #44ace1;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      left: 2px;
      top: -2px; }
    .section-details-top ul li .cup, .section-details-top ul li .mouse, .section-details-top ul li .energy, .section-details-top ul li .watch {
      display: inline-block;
      width: 17px;
      height: 17px;
      position: relative;
      margin-right: 9px; }

.section-details-bot {
  background-color: #f2f2f2;
  padding: 56px 0; }
  .section-details-bot img {
    display: block;
    width: 100%; }
  .section-details-bot .section-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-details-bot .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-details-bot .section-title {
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -30%;
    left: 45%; }
    .owl-carousel .owl-dots .owl-dot span {
      display: block;
      border: solid 1px #373033;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 10px; }
    .owl-carousel .owl-dots .active span {
      background-color: #FFFFFF;
      width: 15px;
      height: 15px;
      border: none;
      transition: 0.5s; }

.section-plans {
  padding: 60px 0 200px;
  background-color: #15141a;
  background-image: url("../images/banner-bot_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .section-plans .section-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-plans .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-plans .section-title {
    color: #FFFFFF;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px; }
  .section-plans .text-primary {
    margin-bottom: 30px; }
  .section-plans .wrapper {
    display: inline-flex;
    align-items: center; }
    .section-plans .wrapper img {
      display: block;
      margin-right: 26px;
      border-radius: 50%;
      width: 30%; }
    .section-plans .wrapper p span {
      font-weight: 600;
      display: block; }

.section-plans-footer {
  padding: 50px 0; }
  .section-plans-footer h2 {
    font-size: 36px;
    font-weight: 700; }
    .section-plans-footer h2 span {
      font-weight: 300; }

.section-price .section-title:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -30px;
  right: 50.5%;
  background-color: #008ed6;
  height: 2px;
  width: 20px; }
.section-price .section-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 50.5%;
  bottom: -30px;
  background-color: #008ed6;
  height: 2px;
  width: 20px; }
.section-price .section-title {
  color: #1a1a1a;
  font-size: 36px;
  position: relative;
  margin-bottom: 68px; }

.section-price {
  padding: 60px 0; }
  .section-price .hover:hover h4 {
    color: #008ed6; }
  .section-price .hover:hover .price {
    background-color: #008ed6;
    color: #FFFFFF; }
    .section-price .hover:hover .price span {
      color: #FFFFFF; }
  .section-price h4 {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 700;
    border: solid 1px #e0e0e0;
    margin-bottom: 0; }
  .section-price .price {
    padding: 38px 0;
    font-size: 36px;
    font-weight: 700;
    border: solid 1px #e0e0e0;
    margin-bottom: 0; }
    .section-price .price span {
      display: block; }
  .section-price .price-info {
    border: solid 1px #e0e0e0;
    padding-top: 50px; }
    .section-price .price-info span {
      color: #008ed6; }

.section-contacts {
  background-color: #ededed;
  padding: 50px 0 0; }
  .section-contacts .section-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-contacts .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px; }
  .section-contacts .section-title {
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px; }
  .section-contacts .numbers:before, .section-contacts .location:before, .section-contacts .email:before {
    content: "\f3cd";
    display: block;
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #018ed2; }
  .section-contacts .location:before {
    content: "\f3c5"; }
  .section-contacts .email:before {
    content: "\f0e0"; }
  .section-contacts span {
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 30px; }
  .section-contacts p {
    margin-bottom: 70px; }
  .section-contacts form {
    position: relative;
    padding: 40px 0;
    background-color: #15141a;
    margin-bottom: -60px; }
    .section-contacts form input {
      margin: 0 0 20px 5px;
      background-color: #15141a;
      height: 44px;
      border-color: #444348;
      border-radius: 2px; }
    .section-contacts form textarea {
      margin: 0 5px 20px 0;
      background-color: #15141a;
      height: 172px;
      border-color: #444348;
      border-radius: 2px; }
    .section-contacts form .btn-primary {
      margin: 0; }

/*# sourceMappingURL=style.css.map */
