@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
.text-muted{
  font-weight: 400;
  color: #999999;
  font-size: 18px;
}
.text-info{
  color: #FFFFFF;
 font-weight: 400;
}
.text-primary{
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
}
.section-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
}
.section-subtitle{
  color: #008ed6;
  font-max-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-default,.btn-success{
  background: none;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  margin: 9px auto;
  border: solid 1px #454549;
  font-weight: 700;
  border-radius: 2px;
  padding: 18px 25px;
  max-width: 164px;
}

.btn-success{
  color:#008ed6 ;
  border: solid 1px #e0e0e0;
  display: block;
  max-width: 164px;
  margin: 30px auto;
  background-image: none;
}
.btn-success:focus,.btn-success:hover {
  background-color: #008ed6;
  color: #FFFFFF;
  border-color: #008ed6;
}
.btn-primary{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin: 9px auto;
  font-weight: 700;
  background-color: #008ed6;
  border-radius: 2px;
  padding: 18px 25px;
  max-width: 164px;
}
.bg-primary{
  background-color: #15141a;
}
.banner{
  background-image: url("../images/banener-top_01.png");
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  header {
    background: none;
    .navbar,.navbar-default {
      border: none;
      box-shadow: none;
      background: none;
      padding: 20px;
      .nav,.navbar-nav,.navbar-right {
        li:before{
          content:'';
          display: block;
          position: absolute;
          bottom: 0;
          right: 52%;
          background-color: #008ed6;
          height: 2px;
          width: 1%;
          visibility: hidden;
          transition: 0.5s;

        }
        li:after{
          content:'';
          display: block;
          position: absolute;
          left:52%;
          bottom: 0;
          background-color: #008ed6;
          height: 2px;
          width: 1%;
          visibility: hidden;
          transition: 0.5s;
        }
        li:hover:after,li:hover:before{
          visibility: visible;
          width: 20px;
        }

        li {

          a {
            color: #fffefe;
            font-weight: 600;
            font-size: 16px;
          }

        }
      }

    }
  }
  .container{

    .section-title{
      color: #FFFFFF;
      font-size: 48px;
      font-weight: 600;

    }
    .section-subtitle{
      color: #008ed6;
      font-max-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p{
      margin:35px 0 60px;
      line-height: 30px;
    }
  }

}


.section-features{
  border-bottom: solid 1px #ededed;
  padding: 70px 0;

  .section-title:before{
    content:'';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px;

  }
  .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px;
  }
  .section-title{
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 100px;
  }

  .container{
    h2{
      font-size: 24px;
      font-weight: 400;
      color: #1a1a1a;
      margin-bottom: 114px;
    }
    p{
      line-height: 35px;
    }
    .wrapper{
      border-radius: 50%;
      border: solid 1px #e0e0e0;
      width: 90px;
      height: 90px;
      margin-bottom: 35px;
      .monitor:before,{
        content: "\f26c";
        display: block;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 27px;
        position: absolute;
        top: 30%;
        left: 30%;
        color: #008ed6;
      }
      .cog:before{
        content: "\f013";
        display: block;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 27px;
        position: absolute;
        top: 29%;
        left: 34%;
        color: #008ed6;
      }
      .like:before{
        content: "\f164";
        display: block;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 27px;
        position: absolute;
        top: 29%;
        left: 34%;
        color: #008ed6;
      }
      .phone:before{
        content: "\f3cd";
        display: block;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 27px;
        position: absolute;
        top: 30%;
        left: 40%;
        color: #008ed6;
      }
      .monitor,.cog,.like,.phone{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
}
.section-details-top{
    padding:68px 0;
  .section-subtitle{
    margin-top: 40px;
  }
  .section-title:before{
    content:'';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #008ed6;
    height: 2px;
    width: 20px;

  }
  .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px;
  }
  .section-title{
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px;
  }
  p{
    margin-bottom: 40px;
  }
  img{
    display: block;

  }
  ul{
    li{
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #1a1a1a;
      font-weight: 400;
      .cup:before{
        content: "\f091";
        display: block;
        position: absolute;
        color: #44ace1;
        font-weight: 900;
        font-family:"Font Awesome 5 Free";

      }
      .mouse:before{
        content: "\f8cc";
        display: block;
        position: absolute;
        color: #44ace1;
        font-weight: 900;
        font-family:"Font Awesome 5 Free";
        left: 3px;
      }
      .energy:before{
        content: "\f0e7";
        display: block;
        position: absolute;
        color: #44ace1;
        font-weight: 900;
        font-family:"Font Awesome 5 Free";
        left: 3px;
      }
      .watch:before{
        content: "\f2f2";
        display: block;
        position: absolute;
        color: #44ace1;
        font-weight: 900;
        font-family:"Font Awesome 5 Free";
        left: 2px;
        top: -2px;
      }

      .cup,.mouse,.energy,.watch{
        display: inline-block;
        width: 17px;
        height: 17px;
        position: relative;
        margin-right: 9px;

      }
    }
  }
}
.section-details-bot{
  background-color: #f2f2f2;
  padding: 56px 0;
  img{
    display: block;
    width: 100%;
  }
  .section-title:before{
    content:'';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #008ed6;
    height: 2px;
    width: 20px;

  }
  .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px;
  }
  .section-title{
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px;
  }
}
.owl-carousel{
  position: relative;
  .owl-dots{

    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left: 40%;
    .owl-dot{
      span{
        display:block;
        border: solid 1px #373033;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 10px;
      }
    }
    .active{
      span{
      background-color: #FFFFFF;
      width: 15px;
      height: 15px;
      border: none;
      transition: 0.5s;}
    }
  }
}
.section-plans{
  padding: 60px 0 200px;
  background-color: #15141a;
  background-image: url("../images/banner-bot_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .section-title:before{
    content:'';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px;

  }
  .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px;
  }
  .section-title{
    color: #FFFFFF;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px;
  }
  .text-primary{
    margin-bottom: 30px;
  }
.wrapper{
  display: inline-flex;
  align-items: center;
  img{
    display: block;
    margin-right: 26px;
    border-radius: 50%;
    width: 30% ;
  }
  p{

    span{
      font-weight: 600;
      display: block;
    }
  }
}
}
.section-plans-footer{
  padding: 50px 0;
  h2{
    font-size: 36px;
    font-weight: 700;
    span{
      font-weight: 300;
    }
  }
}
.section-price{
  .section-title:before{
    content:'';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 50.5%;
    background-color: #008ed6;
    height: 2px;
    width: 20px;

  }
  .section-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 50.5%;
    bottom: -30px;
    background-color: #008ed6;
    height: 2px;
    width: 20px;
  }
  .section-title{
    color: #1a1a1a;
    font-size: 36px;
    position: relative;
    margin-bottom: 68px;
  }
}
.section-price{
  padding: 60px 0;

.hover:hover{
  h4{
    color: #008ed6;

  }
  .price{
    background-color: #008ed6;
    color: #FFFFFF;
    span{
      color: #FFFFFF;
    }

  }
}

  h4{
    padding: 24px 0;
    font-size: 24px;
    font-weight: 700;
    border: solid 1px #e0e0e0;
    margin-bottom: 0;
  }
  .price{
    padding: 38px 0;
    font-size: 36px;
    font-weight: 700;
    border: solid 1px #e0e0e0;
    margin-bottom: 0;
    span{
      display: block;
    }
  }
  .price-info{
    border: solid 1px #e0e0e0;
    padding-top:50px;
    span{
      color:#008ed6;
    }
  }
}